      <div class="content centered">
        <h2 class="top">{{title}}New events for minutes.io  since your last visit <span class="timeago">{{stats.since}}</span></h2>
        <h3 class="top">Users</h3>
        <div class="row-fluid statistics">
          <div class="panel success span4">
            <span>New signups/past 30 days</span>
            <h1>{{stats.signups}}</h1>
          </div>
          <div class="panel warning span4">
            <span>Account deletions/past 30 days</span>
            <h1>{{stats.account_deletions}}</h1>
          </div>
          <div class="panel success span4">
            <span>Growth/past 30 days</span>
            <h1>{{stats.growth}}%</h1>
          </div>
        </div>
        <div class="row-fluid statistics">
          <div class="panel info span4">
            <span>Total</span>
            <h1>{{stats.users_total}}</h1>
          </div>
          <div class="panel info span4">
            <span>Active/past 30 days</span>
            <h1>{{stats.users_active}}</h1>
          </div>
          <div class="panel warning span4">
            <span>Activity/past 30 days</span>
            <h1>{{stats.active}}%</h1>
          </div>
        </div>
        <h3>Messages and errors</h3>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul>
            <li>Module Mail reports error: Cannot send email (about 4 hours ago)</li>
            <li>Module Mail reports error: Cannot send email (about 4 hours ago)</li>
            <li>Module Mail reports error: Cannot send email (about 5 hours ago)</li>
            <li>46 additional new errors in this module</li>
          </ul>
        </div>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul>
            <li>Module Signup confirmation reports: New user confirmed! (about 6 hours ago)</li>
          </ul>
        </div>
      </div>